<p class="text-emerald-500"><%= notice %></p>
<h1><%= @heading.presence || 'Listings' %></h1>

<section id="listings" class="grid grid-cols-3 gap-6">
  <% @listings.each do |listing| %>
    <%= render partial: 'listings/tile', locals: { listing: } %>
  <% end %>
</section>
