---
http_interactions:
- request:
    method: post
    uri: https://overpass-api.de/api/interpreter
    body:
      encoding: UTF-8
      string: |-
        area["place"="city"]["name"="Melbourne"]["wikidata"="Q3141"] -> .Melbourne;
        node["shop"="supermarket"]["brand"="Coles"](area.Melbourne); out body qt;
        way["shop"="supermarket"]["brand"="Coles"](area.Melbourne); out center tags qt;
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/osm3s+xml
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <osm version="0.6" generator="Overpass API 0.7.62.1 084b4234">
        <note>The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.</note>
        <meta osm_base="2024-03-30T16:47:20Z" areas="2024-03-30T15:42:01Z"/>

          <node id="278111955" lat="-38.3614651" lon="144.8921554">
            <tag k="brand" v="Coles"/>
            <tag k="brand:wikidata" v="Q1108172"/>
            <tag k="brand:wikipedia" v="en:Coles Supermarkets"/>
            <tag k="name" v="Coles"/>
            <tag k="operator" v="Coles Group"/>
            <tag k="operator:wikidata" v="Q1339055"/>
            <tag k="shop" v="supermarket"/>
            <tag k="website" v="https://www.coles.com.au/"/>
          </node>
          <node id="1266906766" lat="-38.3515418" lon="144.9227978">
            <tag k="addr:house[...]
