<div id="<%= dom_id query %>">
  <p>
    <strong>Name:</strong>
    <%= query.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= query.description %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= query.body %>
  </p>
</div>
